@import "tailwindcss";
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  background: black;
  background: linear-gradient(to right, #07020b 0%, #01020b 100%);
  color: white;
  font-family: "Roboto Mono", monospace;
}

h1, h2 ,h3 {
  font-family: "Limelight";
  letter-spacing: .1ex;
  word-spacing: 1ex;
}

h1 {
  font-size: 2.5rem;
}

button, select, h1, .signature-gradient {
  background: #8FB7CF;
  background: linear-gradient(to right, #88b7ea 0%, #4c64bc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

button {
  @apply p-1 border-[#88b7ea] text-gray-300 border-b-2 cursor-pointer w-fit hover:text-white font-bold hover:border-[#4c64bc] transition
}

select {
  @apply bg-transparent border-b-2 border-[#88b7ea] text-gray-300 p-1 w-fit cursor-pointer hover:text-white font-bold hover:border-[#4c64bc] transition;
}