<!-- container-->
<div class="flex flex-col w-full h-screen p-8 gap-8">

    <!-- header -->
    <div class="grid grid-cols-[1fr_1fr_1fr] items-center">
        <span class="opacity-50 text-left"><a href="https://www.typo.rip">powered by skribbltypo</a></span>

        <!-- wrapper to adjust gradient width -->
        <div class="flex justify-center">
            <h1>Louvre</h1>
        </div>

        <div class="flex items-center justify-end gap-4" *ngIf="(user$ | async) as user">
            <button (click)="logout()">Logout</button>
            <span class="opacity-50">{{user.name}} ({{user.userType! | usertype}})</span>
        </div>
    </div>

    <!-- nav -->
    <div *ngIf="(user$ | async)" class="flex gap-8 justify-center  pb-4 border-b-2 border-b-gray-800">

        <a
                *ngFor="let item of nav"
                class="cursor-pointer select-none flex gap-3 group font-bold text-lg"
                [routerLink]="item.link"
        >
            <span class="opacity-20 group-hover:opacity-80 transition overlap">{{item.emoji.repeat(3)}}</span>
            <span class="pl-3 signature-gradient"> {{item.name}}</span>
            <span class="opacity-20 group-hover:opacity-80 transition overlap">{{item.emoji.repeat(3)}}</span>
        </a>

    </div>

    <!-- content -->
    <div class="grow overflow-y-auto">
        <ng-content></ng-content>
    </div>


</div>

